:root{
    --Background-color : #030712;
   --Text-color : #f8fafc;
   --Primary-color : #f97316;
   --Secondary-color : #0284c7;
}

.about_us{
    margin: 1rem;
    padding: 5px;
    color: rgba(255,255,255,0.3);
    font-size: 100px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}


body{
    color: var(--Text-color);
    padding: 20px;
    background: linear-gradient(315deg,#562807,var(--Background-color));
}

.heading{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--Primary-color);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.heading, .subheading1,.subheading2,.features{
    text-align: center;
}

.subheading1{
    font-size: 20px;
    font-style: italic;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.subheading2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 25px; 
    margin-top: 50px;
}

img{
    display: block;
    height:150px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}

img:hover{
    transform: scale(1.10 );
}

.color{
    color: var(--Primary-color);
}
.content{
    display: flex;
    justify-content: center;
    margin: 20px;  
}

.card_heading{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
 
}

.content_para{
    color: var(--Text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 20px;
}

.content1,.content2,.content3{
    margin: 15px;
    background-color: var(--Secondary-color);
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 700px;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 50px 40px;
    transition: transform 0.3s;
    
}


.text{
    margin-top: 250px;
}

.content1{
    background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}


.content2{
    background-image: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.content3{
    background-image: url("https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
    

.content1:hover{
    transform: scale(1.05);
}

.content2:hover{
    transform: scale(1.05);
}

.content3:hover{
    transform: scale(1.05);
}


.features{
   font-size: 38px;
   padding-top: 20px;
   color: var(--Text-color);
   font-family: "Poppins", sans-serif;
   font-weight: 800;
   font-style: normal;
}