@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
*{
    text-align: center;
    font-family:"Poppins",sans-serif;
}
html,body{
    display: grid;
    place-items:center;
}
    body {
    background:black;
    color: white;
    text-align: center;
    margin-top:2px;
  }
  
  img{
    width:200px;
    height:200px;
    border-radius : 50%;
    margin:25px;
  }
  
  .members {
    display : flex;
    align-items : center;
    justify-content : center;
    font-family: "Libre Bodoni", serif
  }
  
  .member{
    margin : 10px;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap : 10px
  }
  h2,p{
    justify-content: center;
  }
h1{
    text-align:center;
}
hr{
    width:175px;
}
.fa-youtube{
    color:red;
    background: #fff;
    height:40px;
    width:40px;
    border-radius: 50%;
}
.name{
    margin: 10px auto;
}
.fa-instagram{
    background: linear-gradient(to bottom,#f70776,#ffc93c,#9818d6);
    height:40px;
    width:40px;
    display:block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 10px 10px rgba(0,0,0, );
    color: #f8fafc;
}
.fa-twitter ,.fa-linkedin{
    background: #fff;
    color:#0284c7;
    height:40px;
    width:40px;
    border-radius: 50%;
}
.wrapper{
    display:flex;
    margin:20px;
    align-items : center;
    margin-left: 300px;
}
.icon{
    margin:auto;
    display: flex;
    align-items : center;
    justify-content : center;
    margin-left: 50px;
    margin-right: 5px;
}
.wrapper .icon span{
    height:40px;
    width:40px;
    display:block;
    background: #0284c7;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.wrapper .icon span i{
  font-size:28px;  
  line-height: 40px;
}
.name{
    margin:10px;
    align-items : center;
}
#button{
    text-align: center;
    margin-top: 5px;
}
.c-button {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background-color: #000;
  }
  
  .c-button--gooey {
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #0284c7;
    border-radius: 10px;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color:#0284c7;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: #000;
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }
  #color{
    text-decoration: none;
    color: #fff;
  }

  /* mitali */

  :root{
    --Background-color : #030712;
   --Text-color : #f8fafc;
   --Primary-color : #f97316;
   --Secondary-color : #0284c7;
}


body{
    background-color:  var(--Background-color);
    color: var(--Text-color);
    padding: 20px;
}

h1{
    font-size: 45px;
}

.heading{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--Primary-color);
}

H1,.heading, .subheading, .features{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.subheading{
    font-size: 20px;
    font-style: italic;
}

p{
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
}


.part{
    background-color: var(--Background-color);
}

.content{
    display: flex;
    justify-content: center;
}

.card_heading{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}

.content1,.content2,.content3{
    margin: 20px;
    background-color: var(--Secondary-color);
    border-radius: 8px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    width: 400px;
}

.content1:hover{
    background-color: #0369a1;
}

.content2:hover{
    background-color: #0369a1;
}

.content3:hover{
    background-color: #0369a1;
}


.features{
   font-size: 35px;
   padding-top: 20px;
   color: var(--Secondary-color);
   text-decoration: underline;
}