:root{
  --background: #030712;
  --text-color: #f8fafc;
  --primary-color: #f97316;
  --secondary-color: #0284c7;
}

*

{ 
  /* background: var(--background); */
  color: var(--text-color);


padding: 0;
margin: 0;
}
body
{
background-color:var(--background);


background-position: center;
box-sizing: border-box;
font-family: sans-serif;
}
.menu-bar
{
background: black;
text-align: center;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #f8fafc;
}
.menu-bar ul li
{
width: 165px;
margin: 1px;
padding: 12px;
}
.menu-bar ul li a
{
text-decoration: none;
color:white;
}
.menu-bar ul li:hover
{
background-color:#f97316;
color:white;
}
.sub-menu-1 
{
display: none;
}
.menu-bar ul li:hover .sub-menu-1 
{
display: block;position:absolute;
background-color:var(--background);
margin-top: 10px;
margin-left: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
display:block;
margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
color: var(--background);
}
.sub-menu-2 
{
display: none;
}
.menu-bar ul li:hover .sub-menu-2 
{
display: block;position:absolute;
background-color:var(--background);
margin-top: 10px;
margin-left: 10px;
}
.menu-bar ul li:hover .sub-menu-2 ul{
display:block;
margin:10px;
}
.menu-bar ul li:hover .sub-menu-2 ul li a:hover
{
color: var(--background);
}
.logo{
position:fixed;
height:auto;
left:50px;
width:48px;
height: 48px;
border-radius: 50%;
}
 
#Hero-text{
  text-align: center;
}