:root{
  --background: #030712;
  --text-color: #f8fafc;
  --primary-color: #f97316;
  --secondary-color: #0284c7;
}

h1,h2{
  color: var(--text-color)!important;
  margin:10px,0;
  text-align: center;
  font-family: "Montserrat",sans-serif;
  }

body
{
background: var(--background);
background-position: center;
box-sizing: border-box;
font-family: sans-serif;
padding: 0;
margin: 0;
}
.menu-bar
{
text-align: center;
display: flex;
justify-content: flex-start;
margin-left: 25px;
margin-top: 10px;
}
.menu-bar ul
{
display:flex;
list-style: none;
gap: 30px;
}
.menu-bar ul li
{
width: 165px;
margin: 1px;
padding: 12px;
}
.menu-bar ul li a
{
text-decoration: none;
color:var(--text-color);
}
.menu-bar ul li a:hover
{
text-decoration: underline;
text-decoration-color: var(--primary-color);
text-underline-offset: 10px;
}

.logo{
width:48px;
height: 48px;
border-radius: 50%;
}
 
#Hero-text{
  text-align: center;
  color: var(--text-color);
}

/* Home Page */

#background{
  background: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height : 100vh;
  width : 100vw;
}

.homepage-head{
  background: none;
}

.heading{
  display: block;
  background: none;
}

.firstline{
padding-top: 5%;
background: none;
}


/* img{
display: block;
height:150px;
width: 200px;
margin-left: auto;
margin-right: auto;
} */

.card-container{
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
}

.card{
  backdrop-filter: blur(5px) saturate(100%);
-webkit-backdrop-filter: blur(5px) saturate(100%);
background-color: rgba(0, 3, 10, 0.25);
border: 1px solid rgba(0, 13, 16, 0.6);
transition: all .3s ease;  
/* background-color: var(--primary-color); */
height: 275px;
max-width: 450px;
border: 0;
width: 100%;
margin-left: 3.5%;
margin-right: 3.5%;
margin-top: 7.5%;
border-radius: 10px;
transition: transform 0.6s ease;

}

.cards-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background: transparent;
  gap: 40px;
  padding: 5%;
}

.card:hover{
transform: scale(1.1);
transform: scale(1.125);
border: 1px solid white;
transition: all .3s ease;
}

.card-heading{
text-align: center;
background: none;
/* background-color: var(--primary-color); */
color: var(--primary-color) !important;
padding-top:20px;
font-size: 25px;
}

p{
text-align: justify;
text-justify: distribute-all-lines;
padding-top: 30px;
padding-left:15px;
padding-right:30px;
text-align: center;
background-color: var(--primary-color);
font-size:20px;
background: none;
color: var(--text-color);
}

/* #container-title{
  text-align: center;
  padding: 0 !important;
  margin-top: 2.5%;
  margin-bottom: 0; 
  font-size: 25px;
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 60px;
} */