:root{
  --background: #030712;
  --text-color: #f8fafc;
  --primary-color: #f97316;
  --secondary-color: #0284c7;
}

*

{ 
background: var(--background);
color: var(--text-color);


padding: 0;
margin: 0;
}
body
{
background-position: center;
box-sizing: border-box;
font-family: sans-serif;
}
.menu-bar
{
text-align: center;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
}
.menu-bar ul li
{
width: 165px;
margin: 1px;
padding: 12px;
}
.menu-bar ul li a
{
text-decoration: none;
color:var(--text-color);
}
.menu-bar ul li a:hover
{
text-decoration: underline;
text-decoration-color: var(--primary-color);
text-underline-offset: 10px;
}

.logo{
position:fixed;
height:auto;
left:50px;
width:48px;
height: 48px;
border-radius: 50%;
}
 
#Hero-text{
  text-align: center;
}