@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
:root{
  --Background-color : #030712;
 --Text-color : #f8fafc;
 --Primary-color : #f97316;
 --Secondary-color : #0284c7;
}
  body {
    background:var(--Background-color);
    color:var(--Text-color);
  }
  
  .member_photo{
    aspect-ratio: 1;
    height:200px;
    border-radius : 50%;
  }

  #vency_photo{
    background: url("https://iili.io/JwAS8Mu.md.jpg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .members {
    display : flex;
    align-items : center;
    justify-content : center;
    font-family: "Libre Bodoni", serif;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
  }
  
  .member{
    display: flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap: 0.5rem;
  }
 
h1{
    text-align:center;
}

.fa-youtube{
    color:red;
    background: var(--Text-color);
    height:40px;
    width:40px;
    border-radius: 50%;
}
.name{
    margin: 10px auto;
}
.fa-instagram{
    background: linear-gradient(to bottom,#f70776,#ffc93c,#9818d6);
    height:40px;
    width:40px;
    display:block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 10px 10px var(--Background-color);
    color:var(--Text-color);
}
.fa-linkedin{
    background: var(--Text-color);
    color:var(--Secondary-color);
    height:40px;
    width:40px;
    border-radius: 50%;
}
.fa-x-twitter {
  background: var(--Text-color);
    color:var(--Background-color);
    height:40px;
    width:40px;
    border-radius: 50%;
}
.wrapper{
    display:flex;
    margin:20px;
    align-items : center;
    margin-left: 300px;
}
.icon{
    margin:auto;
    display: flex;
    align-items : center;
    justify-content : center;
    margin-left: 50px;
    margin-right: 5px;
}
.wrapper .icon span{
    height:40px;
    width:40px;
    display:block;
    background:var(--Secondary-color);
    border-radius: 50%;
    box-shadow: 0 10px 10px var(--Background-color);
}
.wrapper .icon span i{
  font-size:28px;  
  line-height: 40px;
}
.name{
    margin:10px;
    align-items : center;
}

#btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#button{
    margin: auto;
}
.c-button {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background-color:var(--Background-color);
  }
  
  .c-button--gooey {
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid var(--Secondary-color);
    border-radius: 10px;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color:var(--Secondary-color);
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color:var(--Background-color);
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }
  #color{
    text-decoration: none;
    color: var(--Text-color);
  }

  /* mitali */

h1{
    font-size: 45px;
}

.heading{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--Primary-color);
}

h1,.heading, .subheading, .features{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.subheading{
    font-size: 20px;
    font-style: italic;
}

p{
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
}


.part{
    background-color: var(--Background-color);
}

.content{
    display: flex;
    justify-content: center;
}

.card_heading{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}

.content1,.content2,.content3{
    margin: 20px;
    background-color: var(--Secondary-color);
    border-radius: 8px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    width: 400px;
}

.content1:hover{
    background-color: #0369a1;
}

.content2:hover{
    background-color: #0369a1;
}

.content3:hover{
    background-color: #0369a1;
}


.features{
   font-size: 35px;
   padding-top: 20px;
   color: var(--Secondary-color);
   text-decoration: underline;
}

/* Contact us */
.outer-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    border: 1px solid var(--Secondary-color);
    background-image: linear-gradient(-45deg, var(--Secondary-color), var(--Background-color));
    border-radius: 100px;
    padding-top: 80px;
    padding-bottom: 70px;
    box-sizing: border-box;
    flex-wrap: wrap;
}



.inner-div1{
  justify-content: center;
  padding-bottom: 70px;
  padding-right: 50px;
}
.contact{
  font-size: 45px;
}

.form-container {
  width: 400px;
  border: 2px solid;
  border-color: var(--Background-color);
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: var(--Text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--Text-color);
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--Text-color);
  font-family: inherit;
  background-color: transparent;
  border: 1px solid var(--Background-color);
}

.form-container .form-group textarea {
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: var(--Text-color);
  height: 96px;
  border: 1px solid var(--Background-color);
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  color: var(--Text-color);
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-family: inherit;
  color: var(--Text-color);
  font-weight: 600;
  width: 40%;
  background-image: linear-gradient(180deg, var(--Secondary-color), var(--Background-color));
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: 15px;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  border-color: rgb(43, 43, 89);
}



